*{
    margin: 0%;
    padding: 0%;
}
body{
    background: url(35.jpg);
    background-size: cover;
}
.container{
    margin: 7%;
    background: rgba(0,0,0,0.7);
    padding-bottom: 5%;
    scroll-behavior: smooth;
}
 .button{
    position:absolute;
    top: 2%;
    left: 43%;
    background:  linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    width: 15%;
    height: 10%;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 200px;
    transition: 0.8s all;
    border-radius: 50px;
}
 .button:hover{
    background: white;
}
 .button a{
     font-family: Calibri;
    position: absolute;
    text-decoration: none;
    top: 16%;
    color: aliceblue;
    left: 27%;
    font-size: 2.5rem;
}
 .button a:hover{
    color: black;
}
input[type="checkbox"]{
  display: none;
}
.container h1{
    padding: 2%;
    font-size: 3rem;
    font-family: Ravenborg;
    text-align: center;
    color: aliceblue;
}
.container h2{
    padding: 2%;
    font-size: 3rem;
    font-family: Ravenborg;
    text-align: center;
    color: aliceblue;
}
.container h3{
    padding: 2%;
    font-size: 3rem;
    font-family: Ravenborg;
    text-align: center;
    color: aliceblue;
}
.container p{
    color: aliceblue;
    font-family: Comic Sans MS;
    font-size: 1.5rem;
    padding-left: 8%;
    padding-right: 8%;
}