@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
   
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: URL(32.jpg);
    background-size: cover;
}
.logo i{
    color: #05abe0;
}
.logo h1{
    font-family: Slant;
    letter-spacing: 5px;
    font-size: 3rem;
}
nav{

  display: flex;
  height: 70px;
  width: 126.2%;
  background:rgba(0,0,0,0.1);
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 20px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 15px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #05abe0;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
.slider{
     padding-top: 10%;
  max-width: 1200px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: white;
    text-align: center;
}
.slider .card .img{
    padding-top: %;
  height: 300PX;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}
.head{
    position: absolute;
    left: 36.5%;
    top: 10%;
    font-size: 4rem;
    font-family: monoton;
    color: aliceblue;
    letter-spacing: 10px;
}