*{
    margin: 0;
    padding: 0;

}
body{
    background: url(3.jpg);
    background-size: cover;
     font-family: 'Raleway', sans-serif;
  height: 20vh; 

}

.wrapper {
    padding: 100px 60px;
    max-width: 1200px;
    text-align: center;
	margin:50px auto;
        padding-left: 10%;
}
.parent {
    width: 25%;
    margin: 30px;
    height: 200px;
    border: 4px solid #fff;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
	cursor: pointer;
}
.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 100%;
    transition: all .5s;
}
.bg-one {background-image: url(4.jpg);}
.bg-two {background-image: url(5.jpg);}
.bg-three {background-image: url(6.jpg);}
.bg-four {background-image: url(7.jpg);}
.bg-five {background-image: url(8.jpg);}
.bg-six {background-image: url(9.jpeg);}
.bg-seven {background-image: url(10.jpg);}
.bg-eight {background-image: url(11.jpg);}
.bg-nine {background-image: url(12.jpg);}
.bg-ten {background-image: url(13.jpg);}
.bg-eleven {background-image: url(14.jpg);}
.bg-twelve {background-image: url(15.jpg);}
.logo span{
    position: absolute;
   color: #05abe0;
}
 span {
     
    display: none;
    font-size: 30px;
    color: #ffffff !important;
    font-family: Tarrget Half-Tone;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
}
.parent:hover .child, .parent:focus .child {
    transform: scale(1.1);
}
.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}
.parent:hover span, .parent:focus span {
    display: block;
}
.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
    opacity: 100%;
}
.logo i{
    color: #05abe0;
}
.logo h1{
    font-family: Slant;
    letter-spacing: 5px;
    font-size: 3rem;
}
.head h1{
    position: absolute;
    font-size: 5rem;
    color: aliceblue;
    font-family: Slant;
    top: 20%;
    left: 39%;
}
nav{
  display: flex;
  height: 70px;
  width: 91.7%;
  background:rgba(0,0,0,0.1);
  align-items: center;
  justify-content: space-between;
  padding: 0 60px  20px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 15px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #05abe0;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
 .button{
    position:absolute;
    top: 55%;
    left: 75%;
    background:  linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
    width: 15%;
    height: 10%;
    font-size: 1.5rem;
    color: aliceblue;
    font-weight: 200px;
    transition: 0.8s all;
    border-radius: 50px;
}
 .button:hover{
    background: white;
}
 .button a{
    position: absolute;
    text-decoration: none;
    top: 20%;
    color: aliceblue;
    left: 26%;
     font-size: 2rem;
}
 .button a:hover{
    color: black;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
